@media only screen and (min-width: 320px) and (max-width: 450px) { 

    .section_2{

        height: 100px;
    }
    .section-2-banner h2,h3{
        color:white;
        margin-left:10px;
    }
    .section-2-banner h2{
        font-size:12px;
    }
    .section-2-banner h3{
        font-size:8px;
    }

 }

 @media only screen and (min-width: 451px) and (max-width: 767px){

    .section_2{
        margin-top:50px;
        height: 100px;
    }
    .section-2-banner h2,h3{
        color:white;
        margin-left:10px;
    }
    .section-2-banner h2{
        font-size:14px;
    }
    .section-2-banner h3{
        font-size:10px;
    }

 }

 @media only screen and (min-width: 768px) and (max-width: 1024px) { 

    .section_2{
        margin-top:80px;
    }

    .section-2-banner h2,h3{
        color:white;
        margin-left:10px;
    }
    .section-2-banner h2{
        margin-top:40px;
        font-size:24px;
    }
    .section-2-banner h3{
        font-size:20px;
    }
 }

 @media only screen and (min-width: 1025px)  and (max-width: 1199px){
    .section-2-banner h2,h3{
        color:white;
        margin-left:10px;
    }
    .section-2-banner h2{
        margin-top:30px;
        font-size:26px;
    }
    .section-2-banner h3{
        font-size:22px;
    }
 }