.section_3{
    margin-top:60px;
    min-height: 420px;
    height: auto;
}

.section_3_blocks{
    height: 100% !important;
}
.section_3_blocks h3{

}
.footwear_desct{
    font-size:22px;
    color:black !important;
}
.section_3_blocks_block1_img{
    
    
}
