Здравствуйте {{user.name.first}}
	<p>Вы сделали запрос на восстановление пароля.</p>
	<p>Пожалуйста, введите новый пароль, перейдя по <a href='http://localhost:3000{{link}}'><i>этой ссылке</i></a>
</p>
<p>Если Вы не отправляли данный запрос, то проигнарируйте это письмо.</p>
<p><b><i>С уважением, компания ByStep.</i></b></p>
